In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
#series

In [4]:
l=['python','java','javascript','c++']

In [5]:
o=pd.Series(l)

In [6]:
o

0        python
1          java
2    javascript
3           c++
dtype: object

In [7]:
type(o)

pandas.core.series.Series

In [8]:
o[0]

'python'

In [9]:
o[3]

'c++'

In [10]:
o.Index=('a','b','c','d')

In [11]:
o

0        python
1          java
2    javascript
3           c++
dtype: object

In [12]:
#Data frame

In [13]:
import numpy as np

In [14]:
j=np.random.randint(10,100,size=(6,4))

In [15]:
df=pd.DataFrame(j)

In [16]:
df

    0   1   2   3
0  81  88  55  49
1  53  97  94  63
2  32  19  72  67
3  42  93  15  46
4  55  94  86  72
5  52  12  11  32

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df[2]

0    55
1    94
2    72
3    15
4    86
5    11
Name: 2, dtype: int32

In [19]:
df[3]

0    49
1    63
2    67
3    46
4    72
5    32
Name: 3, dtype: int32

In [20]:
df.columns=['A','B','C','D']

In [21]:
df

    A   B   C   D
0  81  88  55  49
1  53  97  94  63
2  32  19  72  67
3  42  93  15  46
4  55  94  86  72
5  52  12  11  32

In [22]:
df["C"]

0    55
1    94
2    72
3    15
4    86
5    11
Name: C, dtype: int32

In [23]:
df.shape

(6, 4)

In [24]:
df.head(3)

    A   B   C   D
0  81  88  55  49
1  53  97  94  63
2  32  19  72  67

In [25]:
df.tail(2)

    A   B   C   D
4  55  94  86  72
5  52  12  11  32

In [26]:
df[['A','B']]

    A   B
0  81  88
1  53  97
2  32  19
3  42  93
4  55  94
5  52  12

In [27]:
df[['C','B','D']]

    C   B   D
0  55  88  49
1  94  97  63
2  72  19  67
3  15  93  46
4  86  94  72
5  11  12  32

In [28]:
df["E"]=df["C"]+df["D"]

In [29]:
df

    A   B   C   D    E
0  81  88  55  49  104
1  53  97  94  63  157
2  32  19  72  67  139
3  42  93  15  46   61
4  55  94  86  72  158
5  52  12  11  32   43

In [30]:
df["F"]=df["A"]+df["B"]

In [31]:
df

    A   B   C   D    E    F
0  81  88  55  49  104  169
1  53  97  94  63  157  150
2  32  19  72  67  139   51
3  42  93  15  46   61  135
4  55  94  86  72  158  149
5  52  12  11  32   43   64

In [32]:
df["G"]=df["A"]*df["D"]

In [33]:
df

    A   B   C   D    E    F     G
0  81  88  55  49  104  169  3969
1  53  97  94  63  157  150  3339
2  32  19  72  67  139   51  2144
3  42  93  15  46   61  135  1932
4  55  94  86  72  158  149  3960
5  52  12  11  32   43   64  1664

# Drop

In [34]:
df=df.drop("E",axis=1)

In [35]:
df

    A   B   C   D    F     G
0  81  88  55  49  169  3969
1  53  97  94  63  150  3339
2  32  19  72  67   51  2144
3  42  93  15  46  135  1932
4  55  94  86  72  149  3960
5  52  12  11  32   64  1664

In [36]:
df.drop("F",axis=1,inplace=True)

In [37]:
df

    A   B   C   D     G
0  81  88  55  49  3969
1  53  97  94  63  3339
2  32  19  72  67  2144
3  42  93  15  46  1932
4  55  94  86  72  3960
5  52  12  11  32  1664

In [38]:
df.index='p q r s t u'.split()

In [39]:
df

    A   B   C   D     G
p  81  88  55  49  3969
q  53  97  94  63  3339
r  32  19  72  67  2144
s  42  93  15  46  1932
t  55  94  86  72  3960
u  52  12  11  32  1664

In [40]:
df.loc['p']

A      81
B      88
C      55
D      49
G    3969
Name: p, dtype: int32

In [41]:
df.iloc[3]

A      42
B      93
C      15
D      46
G    1932
Name: s, dtype: int32

In [42]:
df.iloc[0]

A      81
B      88
C      55
D      49
G    3969
Name: p, dtype: int32

In [43]:
df.iloc[3:,2:]

    C   D     G
s  15  46  1932
t  86  72  3960
u  11  32  1664

In [44]:
df.iloc[-3:,-3:]

    C   D     G
s  15  46  1932
t  86  72  3960
u  11  32  1664

In [45]:
df

    A   B   C   D     G
p  81  88  55  49  3969
q  53  97  94  63  3339
r  32  19  72  67  2144
s  42  93  15  46  1932
t  55  94  86  72  3960
u  52  12  11  32  1664

In [46]:
df.iloc[2:4,1:3]

    B   C
r  19  72
s  93  15

In [47]:
df.values

array([[  81,   88,   55,   49, 3969],
       [  53,   97,   94,   63, 3339],
       [  32,   19,   72,   67, 2144],
       [  42,   93,   15,   46, 1932],
       [  55,   94,   86,   72, 3960],
       [  52,   12,   11,   32, 1664]])

In [48]:
df=pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [49]:
df=pd.read_csv(r"C:\Users\admin\Desktop\iris data.csv")

In [50]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [51]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [53]:
df.sample(3)

    sepal_length  sepal_width  petal_length  petal_width     species
68           6.2          2.2           4.5          1.5  versicolor
88           5.6          3.0           4.1          1.3  versicolor
93           5.0          2.3           3.3          1.0  versicolor

In [54]:
df.shape

(150, 5)

In [55]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [56]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [57]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [59]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [60]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [61]:
df['species'] # or df.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [62]:
df.species.nunique()

3

In [63]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [64]:
setosa=df[df['species']=='setosa']

In [65]:
setosa.shape

(50, 5)

In [66]:
df.species.value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [67]:
df.species.value_counts()['setosa']

50

In [68]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [69]:
df.petal_width

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, Length: 150, dtype: float64

In [70]:
df.sepal_width.min()

2.0

In [71]:
df.sepal_width.max()

4.4

In [72]:
df.sepal_width.mean()

3.0540000000000003

In [73]:
df.sepal_width.median()

3.0

In [74]:
df.sepal_width.sum()

458.1

In [75]:
df.sort_values(by='sepal_length',ascending=False,inplace=True)

In [76]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [77]:
df.sort_values(by='sepal_width',inplace=True)

In [78]:
df

     sepal_length  sepal_width  petal_length  petal_width     species
60            5.0          2.0           3.5          1.0  versicolor
62            6.0          2.2           4.0          1.0  versicolor
119           6.0          2.2           5.0          1.5   virginica
68            6.2          2.2           4.5          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
..            ...          ...           ...          ...         ...
5             5.4          3.9           1.7          0.4      setosa
14            5.8          4.0           1.2          0.2      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa

[150 rows x 5 columns]

In [79]:
df.species.apply(len)

60     10
62     10
119     9
68     10
87     10
       ..
5       6
14      6
32      6
33      6
15      6
Name: species, Length: 150, dtype: int64

In [80]:
df.apply(lambda x:x+x)

,sepal_length,sepal_width,petal_length,petal_width,species
60,10.0,4.0,7.0,2.0,versicolorversicolor
62,12.0,4.4,8.0,2.0,versicolorversicolor
119,12.0,4.4,10.0,3.0,virginicavirginica
68,12.4,4.4,9.0,3.0,versicolorversicolor
87,12.6,4.6,8.8,2.6,versicolorversicolor
...,...,...,...,...,...
5,10.8,7.8,3.4,0.8,setosasetosa
14,11.6,8.0,2.4,0.4,setosasetosa
32,10.4,8.2,3.0,0.2,setosasetosa
33,11.0,8.4,2.8,0.4,setosasetosa
15,11.4,8.8,3.0,0.8,setosasetosa

In [84]:
pd.read_csv('C:\\Users\\admin\\Desktop\\iris data.csv')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [86]:
df.sort_index(inplace=True)

In [87]:
df[df['species']=='setosa']['sepal_length'].min()

4.3

In [88]:
df[df['species']=='virginica']['petal_length'].min()

4.5

In [89]:
df.aggregate('min')

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [90]:
df.aggregate(['min','max','std','median','mean'])

C:\Users\admin\AppData\Local\Temp\ipykernel_10820\3236279749.py:1: FutureWarning: ['species'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.aggregate(['min','max','std','median','mean'])

        sepal_length  sepal_width  petal_length  petal_width    species
min         4.300000     2.000000      1.000000     0.100000     setosa
max         7.900000     4.400000      6.900000     2.500000  virginica
std         0.828066     0.433594      1.764420     0.763161        NaN
median      5.800000     3.000000      4.350000     1.300000        NaN
mean        5.843333     3.054000      3.758667     1.198667        NaN

In [92]:
obj=df.groupby('species')

In [93]:
obj

In [94]:
obj.min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [95]:
obj.count()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [96]:
obj.describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.418000    2.770000   2.974000
             std     0.381024    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.125000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.464000    4.260000   5.552000
             std     0.173511    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.244000    1.326000   2.026000
             std     0.107210    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

In [97]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [98]:
import numpy as np

In [99]:
nan_idx=np.random.randint(0,50,20)

In [101]:
df['petal_length'][nan_idx]=np.nan

C:\Users\admin\AppData\Local\Temp\ipykernel_10820\531515883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['petal_length'][nan_idx]=np.nan

In [103]:
df['petal_length'][:50]

0     NaN
1     1.4
2     1.3
3     1.5
4     1.4
5     NaN
6     NaN
7     NaN
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    NaN
15    1.5
16    NaN
17    1.4
18    1.7
19    NaN
20    NaN
21    1.5
22    1.0
23    1.7
24    NaN
25    NaN
26    NaN
27    1.5
28    NaN
29    1.6
30    1.6
31    NaN
32    NaN
33    1.4
34    1.5
35    1.2
36    NaN
37    1.5
38    1.3
39    NaN
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    NaN
48    NaN
49    1.4
Name: petal_length, dtype: float64

In [104]:
df.isna().sum()

sepal_length     0
sepal_width      0
petal_length    18
petal_width      0
species          0
dtype: int64

In [105]:
df.shape

(150, 5)

In [106]:
#df.dropna()

     sepal_length  sepal_width  petal_length  petal_width    species
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[132 rows x 5 columns]

In [113]:
df.petal_length.fillna(value=round(df['petal_length'].mean(), 1),inplace=True)

In [111]:
round(df['petal_length'].mean(), 1)

4.1

In [115]:
df.petal_length[:50]

0     4.1
1     1.4
2     1.3
3     1.5
4     1.4
5     4.1
6     4.1
7     4.1
8     1.4
9     1.5
10    1.5
11    1.6
12    1.4
13    1.1
14    4.1
15    1.5
16    4.1
17    1.4
18    1.7
19    4.1
20    4.1
21    1.5
22    1.0
23    1.7
24    4.1
25    4.1
26    4.1
27    1.5
28    4.1
29    1.6
30    1.6
31    4.1
32    4.1
33    1.4
34    1.5
35    1.2
36    4.1
37    1.5
38    1.3
39    4.1
40    1.3
41    1.3
42    1.3
43    1.6
44    1.9
45    1.4
46    1.6
47    4.1
48    4.1
49    1.4
Name: petal_length, dtype: float64

In [118]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [126]:
new_df=pd.DataFrame(np.random.randint(0,7,size=(10,4)))

In [127]:
new_df

   0  1  2  3
0  4  4  5  2
1  3  5  2  6
2  4  5  4  6
3  0  6  3  3
4  4  1  4  0
5  4  6  0  1
6  0  5  6  3
7  4  6  5  3
8  6  4  6  5
9  6  6  6  4

In [130]:
new_df['species']='new-species'

In [131]:
new_df

   0  1  2  3      species
0  4  4  5  2  new-species
1  3  5  2  6  new-species
2  4  5  4  6  new-species
3  0  6  3  3  new-species
4  4  1  4  0  new-species
5  4  6  0  1  new-species
6  0  5  6  3  new-species
7  4  6  5  3  new-species
8  6  4  6  5  new-species
9  6  6  6  4  new-species

In [133]:
df.columns=new_df.columns

In [134]:
new_df

   0  1  2  3      species
0  4  4  5  2  new-species
1  3  5  2  6  new-species
2  4  5  4  6  new-species
3  0  6  3  3  new-species
4  4  1  4  0  new-species
5  4  6  0  1  new-species
6  0  5  6  3  new-species
7  4  6  5  3  new-species
8  6  4  6  5  new-species
9  6  6  6  4  new-species

In [135]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 1852-6C8D

 Directory of C:\Users\admin

22-06-2023  18:02    <DIR>          .
22-06-2023  18:02    <DIR>          ..
02-06-2023  18:12    <DIR>          .conda
02-06-2023  18:12                25 .condarc
02-06-2023  18:11    <DIR>          .continuum
05-04-2023  09:20    <DIR>          .idlerc
20-06-2023  17:08    <DIR>          .ipynb_checkpoints
02-06-2023  18:14    <DIR>          .ipython
02-06-2023  18:12    <DIR>          .jupyter
15-06-2023  13:54    <DIR>          .matplotlib
26-03-2023  01:02    <DIR>          3D Objects
02-06-2023  17:36    <DIR>          anaconda3
26-03-2023  01:02    <DIR>          Contacts
22-06-2023  17:26    <DIR>          Desktop
22-06-2023  15:44    <DIR>          Documents
22-06-2023  15:44    <DIR>          Downloads
26-03-2023  01:02    <DIR>          Favorites
26-03-2023  01:02    <DIR>          Links
26-03-2023  01:02    <DIR>          Music
10-06-2023  21:00            13,428 Numpy 2D .ipynb
15-06-2023  13:55            19,376 Numpy Advance.ipynb
14-06-2023  13:35            13,755 Numpy Basic.ipynb
13-06-2023  23:00            34,708 Numpy_3.ipynb
15-06-2023  12:55            10,614 Numpy_4 [3d].ipynb
26-03-2023  01:07    <DIR>          OneDrive
22-06-2023  18:02           174,308 pandas.ipynb
26-03-2023  01:05    <DIR>          Pictures
14-06-2023  14:03             1,246 pracs.ipynb
26-03-2023  01:02    <DIR>          Saved Games
26-03-2023  01:04    <DIR>          Searches
01-04-2023  20:31    <DIR>          Videos
               8 File(s)        267,460 bytes
              23 Dir(s)  73,972,977,664 bytes free